/*
Theme Name: Gazette Edition
Theme URI: http://www.woothemes.com/
Description: Gazette Edition by WooThemes
Version: 2.9.17
Author: WooThemes
Author URI: http://www.woothemes.com/
*/

/*========= SETUP =========*/

*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	color: #666666;
	background-color: #ddd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
a{
	color: #000000;
	text-decoration: none;
	font-weight:bold; 
}
a:hover{
	text-decoration: underline;
}
input,select,textarea{
	border: #dddddd 1px solid;
	font-size: 12px;
	padding: 5px;
}
select{
	padding: 0;
}
li{
	list-style: none;
}

/*========= LAYOUT =========*/

#page{
	width: 960px;
	background-color: #FFFFFF;
	margin:15px auto;
	border: 1px solid #CCCCCC;
}
/*--- Main Columns ---*/
#columns{
	padding:15px 15px 25px;
	background-color: #FFFFFF;
	margin: 0px;
}
.col1{
	float: left;
	width: 595px;
	padding-right:15px;
}
.col2{
	float: left;
	width: 320px;
}
/*--- Sub Columns ---*/
.subcol{
	width: 150px;
}
.subcol h2{
	font-size: 14px;
	padding: 0 0 10px;
	color: #FFFFFF;
}

/*========= HEADER =========*/

/*- Page Navigation -*/
#nav{
	height: 30px;
	padding: 2px 0px !important;
	background-color: #FFFFFF;
	margin:15px 15px 0px !important;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	width: 930px !important;
}
#nav-left {
	float:left;
	display:inline;
	width:600px;
	}
#nav-right {
	float:right;
	display:inline;
	width:330px;
	margin:0px !important;
	padding:0px !important;
	}

/*- Dropdowns-*/

#nav1, #nav1 ul{
	padding: 0;
	float:left;
	list-style: none;
}
#nav1 {
	padding: 0;
	font-size:13px;
	float:left;
}
#nav1 a {
	display: block;
	padding-left:15px;
	padding-right:15px;
}
#nav1 li {
	float: left;
	line-height:30px;
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
}
#nav1 li a:hover {
	background: none;
	text-decoration:none;
	color:#ffffff;
}
#nav1 li ul {
	position: absolute;
	width: 15em;
	left: -999em;
	padding-top:1px;
}
#nav1 li:hover ul, #nav1 li.sfhover ul {
	left: auto;
}
#nav1 li ul li {
    background: #FFFFFF;
	border-bottom:1px solid #dedbd1;
	border-left:1px solid #dedbd1;
	border-right:1px solid #dedbd1;
	line-height:28px;
	width:15em;
}

#nav1 li:hover, #nav1 li.hover {
    position: static;
}
#nav1 li ul ul {
	margin: -29px 0 0 15em;
	border-top:1px solid #dedbd1;
}

#nav1 li:hover ul ul, #nav1 li.sfhover ul ul {
	left: -999em;
}
#nav1 li:hover ul, #nav1 li li:hover ul, #nav1 li.sfhover ul, #nav1 li li.sfhover ul {
	left: auto;
}
#nav1 li:hover ul ul, #nav1 li:hover ul ul ul, #nav1 li.sfhover ul ul, #nav1 li.sfhover ul ul ul {
	left: -999em;
}
#nav1 li:hover ul, #nav1 li li:hover ul, #nav1 li li li:hover ul, #nav1 li.sfhover ul, #nav1 li li.sfhover ul, #nav1 li li li.sfhover ul {
	left: auto;
}

#nav1 li:hover ul, #nav1 li.sfhover ul {
	left: auto;
	z-index:1000;
}

/*- Category Navigation -*/

/*- Nav / Dropdowns-*/
#nav2 {
	margin:0 0 15px 15px !important;
	margin:0 0 7px 7px;
}

#nav2, #nav2 ul{
	padding: 0;
	float:left;
	list-style: none;
}
#nav2 {
	padding: 0;
	font-size:13px;
	float:left;
	width:930px;
	border-top: 1px solid #DDDDDD;
}
#nav2 a {
	display: block;
	padding-left:15px;
	padding-right:15px;
	border-right: 1px solid #DDDDDD;
}
#nav2 li {
	float: left;
	line-height:30px;
}
#nav2 li a:hover {
	background: none;
    text-decoration: none;
}
#nav2 li ul {
	position: absolute;
	width: 15em;
	left: -999em;
	z-index: 99999;
}
#nav2 li:hover ul, #nav2 li.sfhover ul {
	left: auto;
	z-index:1000;
}
#nav2 li ul li {
    background: #FFFFFF;
	border-bottom:1px solid #dedbd1;
	border-left:1px solid #dedbd1;
	border-right:1px solid #dedbd1;
	line-height:28px;
	width:15em;
}
#nav2 li:hover, #nav2 li.hover {
    position: static;
}
#nav2 li ul ul {
	margin: -29px 0 0 15em;
}
#nav2 li:hover ul ul, #nav2 li.sfhover ul ul {
	left: -999em;
}
#nav2 li:hover ul, #nav2 li li:hover ul, #nav2 li.sfhover ul, #nav2 li li.sfhover ul {
	left: auto;
}
#nav2 li:hover ul ul, #nav2 li:hover ul ul ul, #nav2 li.sfhover ul ul, #nav2 li.sfhover ul ul ul {
	left: -999em;
}
#nav2 li:hover ul, #nav2 li li:hover ul, #nav2 li li li:hover ul, #nav2 li.sfhover ul, #nav2 li li.sfhover ul, #nav2 li li li.sfhover ul {
	left: auto;
}


/*- Search -*/
#search{
	float: right;
	height: 27px;
	width:310px;
	margin: 3px 0px 0px !important;
	padding:0px !important;
}
* html #search{
	margin-right: 8px;
}
#search input{
	background: #ffffff;
	border: 1px solid #dddddd;
	color: #000000;
	float: left;
	font-size: 11px;
	width:223px;
	margin:1px 0px 0px;
	padding: 3px 4px 4px;
}
#search .btn{
	padding: 0;
	height:22px;
	width: auto;
	margin:1px 0px 0px 5px !important;
	border:none;
	width:69px;
}
/*- Header -*/
#header{
	height: 100px;
	background-color: #ffffff;
	margin: 0 15px;
	padding: 0px;
}
/*- Logo -*/
#header h1{
	float: left;
	display:inline;
	line-height: 100px;
	font-size: 24px;
}
#header h1 a{
	display: block;
	height: 93px;
	width: 389px;
	color: #000000;
	font-size: 28px;
}

/*- Top Banner -*/
#topbanner {
	float: right;
	width: 468px;
	padding:20px 0px 0px;
}

#topbanner img{
	float: right;
}

/*- RSS -*/
#rss a{
	color: #666666;
}
#rss h2{
	padding:10px;
	font-size:14px;
	margin-bottom:10px;
}
#rss ul{
	margin: 0px;
	padding: 10px;
	float:left;
}
#rss li{
	margin: 0px;
	border:none !important;
	padding: 5px;
}
#rss img{
	float: right;
	padding-left: 10px;
	margin-top: 5px;
}

/*========= FEATURED POSTS (FRONT-PAGE) =========*/

/* See slideshow.css */

/*========= FEATURED VIDEOS (FRONT-PAGE) =========*/

#video-frame {
	background:#eee;
	float:left;
	width:583px;
	height:auto;
	margin:0px;
	padding: 5px;
	border: 1px solid #ddd;
	}
.video-left {
	float:left;
	width:285px !important;
	display:inline;
	background-color:#FFFFFF;
	}
.video-left p {
	padding:0px !important;
	margin:0px !important;
	}
.video-left h2 {
	display:none;
	}
.video-right {
	float:right;
	width:273px;
	min-height:214px;
	display:inline;
	background-color:#FFFFFF;
	padding: 10px;
	}
.video-right h2{
	color: #000000;
	font-size:11px;
	line-height:normal;
	font-weight:bold !important;
	margin:0 !important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	}
.video-right p{
	color: #666;
	font-size:11px;
	line-height:12px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0px;
	}
.video-right h3{
	font-style: normal !important;
	font-weight: bold;
	font-size:18px;
	line-height:20px;
	padding-bottom: 0px;
	}
.video-right .mootabs_title {
	border-top:1px solid #FFF;
	list-style:none;
	margin:0px;
	padding:0px;
	}
.video-right .mootabs_title li {
	color:#000;
	font-weight:normal;
	font-size:11px;
	text-decoration:none;
	display:block;
	padding:10px;
	border: 1px solid #dddddd;
	background:#f7f7f7;
	line-height:10px;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	}
.video-right .mootabs_title li:hover, .video-right .mootabs_title li.active {
	background:#dddddd url(images/ico-watch.gif) right center no-repeat !important;
	}

/*========= BLOG POST STYLING =========*/

/*=== Small Box Post ===*/
.post{
	margin: 0;
}
.post h2{
	font-size: 18px;
	padding: 0 0 5px;
}
.post h3{
	font-size: 14px;
}
.post h3 a{
	color: #000000;
}
.post p{
	padding: 0 0 15px;
	line-height: 15px;
}

/*- Box -*/
.box{
	clear: both;
	height: 1%;
	padding: 0;
	margin: 0;
}
.box .post{
	width: 288px;
	background-color: #ffffff;
	border:1px solid #ddd;
}
.box .post h2 a{
	color:#333333;
}
.box .post h2{
	font-size: 18px;
	padding: 10px;
	line-height: 20px;
}
.box .post p{
	font-size: 11px;
	padding: 5px 10px;
}

.box .post img{
	border: 1px solid #dddddd;
	padding: 5px;
	background-color: #FFFFFF;
	margin: 10px;
	float: right;
}

/*=== Traditional Blog Post ===*/
.post-alt{
	margin: 0 0 15px 0;

}
.post-alt h2{
	font-size: 22px;
	padding: 0;
	color:#000000;
	line-height: 26px;
}
.post-alt h3{
	font-size: 13px;
	padding-bottom: 5px;
	line-height: 18px;
	color: #000000;
}
.post-alt h4{
	font-size: 14px;
	padding-bottom: 5px;
	line-height: 16px;
}
.post-alt h3 a, .post-alt h2 a{
	color: #000000;
}
.post-alt p{
	padding: 0 0 15px;
}
.post-alt p.post_date{
	color: #999999;
	padding: 5px 0px 10px;
	font-size: 11px;
	font-weight: normal;
}
p.posted{
	font-size: 11px;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	line-height: 15px;
	background-color: #eeeeee;
	padding: 5px;
	margin-top: 10px;
	text-align: right;
	border-top:1px solid #ddd;
	/*border-bottom:1px solid #ddd;*/
	clear:both;
}
h3.posted a {
	color: #000000;
	font-size:11px;
}

.box .post h3.posted {
	border-bottom:none;
}

#post-author { background: #eee; margin:0 0 1.5em; padding:15px; border:1px solid #e6e6e6; border-width:1px 0 1px; clear:both; }
#post-author .title { margin-bottom: 10px; }
#post-author .profile-image { float:left; margin:0 15px 5px 0; padding: 5px; border: 1px solid #e6e6e6; background:#F8F8F8; background:rgba(255,255,255,0.7);}
#post-author .profile-link {  }

.single .video {
    margin-bottom: 20px;
}

/*=== Buttons ===*/
.continue{
	background: url(images/ico-arrow.gif) no-repeat left;
	font-weight:bold;
	padding-left: 15px;
}
.comments {
	padding-bottom:0px !important;
}
.comments a{
	background: url(images/ico-comm.gif) no-repeat left;
	color: #000000;
	font-weight:normal;
	font-size:11px;
	padding:0px 0px 0px 18px;
	margin-left:5px;
}
a.more{
	background: url(images/ico-arrow2.gif) no-repeat right;
	color: #c0c0c0;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 20px 0 0;
}
/*=== Traditional Blog Post ===*/
.navigation {
	width:595px;
	margin-bottom:15px;
	float:left;
	padding: 15px 0;
	border-top:  1px solid #eee;
	border-bottom:  1px solid #eee;
}
.navigation a {
	color: #000000;
	font-size: 1em;
	font-weight: bold;
}
.alignleft{
	display:inline;
	float:left;
	margin-right:15px;
}
.alignright{
	display:inline;
	float:right;
	margin-left:15px;
}

/*    Using 'class="alignright"' on an image will (who would've
    thought?!) align the image to the right. And using 'class="centered',
    will of course center the image. This is much better than using
    align="center", being much more futureproof (and valid) */

img.wp-smiley  {
    padding: 0!important;
    border: none!important;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    /* End Images */

.alignleft  { float: left; height: auto; margin: 0px 20px 10px 0; }
.alignright  { float: right; height: auto; margin: 0px 0 10px 20px; }
.aligncenter  { text-align: center; margin-bottom:15px;}
img.aligncenter  { margin-left:auto; margin-right:auto; display:block; }

/*========= ARCHIVE SPECIFIC =========*/

#archivebox {
	margin-bottom:15px;
	padding:10px;
	color:#000 !important;
}
#archivebox h4, #archivebox h3, #archivebox h2{
	color:#333333;
}
#archivebox h4 em, #archivebox h2 em, #archivebox h3 em{
	font-weight: normal;
}
#archivebox a, #archivebox h2 {
	color:#000;
}
.archivefeed {
	margin-top:10px;
	padding-bottom:0px;
}
.archivefeed a {
	background:url(images/ico-arcfeed.gif) center left no-repeat;
	height:20px;
	color:#000;
	font-weight:bold;
	font-size: 11px;
	font-weight: normal;
	padding:3px 0px 1px 22px;
}
.arclist{
	width: 260px;
	margin:0px 0px 25px;
	padding:5px 0px 0px;
	border-bottom: 1px solid #eee;
}
.arclist h2{
	color: #000;
	padding:0px 0px 15px;
}

.arclist ul {
	margin-bottom: 15px;
}

.arclist ul li{
	color:#c0c0c0;
	font-size:12px;
	padding:8px 0 8px 10px;
	border-top:1px solid #eee;
}

/*========= SINGLE POST SPECIFIC =========*/

.singletags {
	margin-top:5px;
}
.singletags a { font-weight: normal !important; text-decoration:underline;color:#000000; }
.entry p{
	text-align:left;
	font-size:12px;
	line-height:18px;
	}
.entry blockquote {
	padding: 10px;
	border: 1px solid #ddd;
	color:#000;
	width:85%;
	background-color: #f7f7f7;
	font-style: italic;
	margin:5px auto 15px;
	}
.entry blockquote p {
	font-size:12px;
	padding: 5px 0px;
	margin: 5px 0px;
	line-height: 20px;
	}
.entry img {
	padding: 4px;
	border: 1px solid #dddddd;
	background-color: #FFFFFF;
	}
.wp-caption img {
	margin-bottom:15px;
}
p.wp-caption-text {
	text-align:center;
	padding: 0 0 15px 0;
	margin:0px;
	font-size:1.2em;
	font-style:italic;
	color:#000000;
}
.entry ul, .entry ol {
	margin-bottom:15px;
	font-size:12px;
	line-height:20px;
	}
.entry ul li ul, .entry ol li ol{
	margin-bottom:0px;
	padding-top:3px;
	}
.entry ul li {
	list-style:circle inside !important;
	margin-left:15px;
	padding:3px 0px;
	}
.entry ul li ul li {
	list-style:disc inside !important;
	}
.entry ol li {
	list-style:decimal inside !important;
	font-size:12px;
	padding:3px 0px;
	}
.entry ol li ol li {
	list-style:decimal-leading-zero inside !important;
	}


/*========= COMMENTS =========*/

h2.commh2{
	font-size: 1.5em;
	padding: 0 0 5px;
	margin: 0 0 15px 0;
	font-weight:bold !important;
	color:#000000;
}
ol.commentlist{
	margin: 10px 0 20px;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 20px;
}
ol.commentlist p{
	margin-bottom:10px;
	line-height: 20px;
}
ol.commentlist cite{
	font-style: normal;
	font-weight: bold;
}
ol.commentlist li{
	padding: 20px 10px 10px 10px;
}
ol.commentlist li.alt{
	padding: 10px 10px 0 10px !important;
	background:#f7f7f7;
	border:1px solid #eee;
}
#comment {
	width: 595px;
	float: left;
	margin-bottom: 15px;
}

/*========= THREADED COMMENTS =========*/

ol.commentlist .comment-meta{
	font-size:0.8em;
}
ol.commentlist li .avatar {
	float:left;
	border: 1px solid #000;
	margin-right: 10px;
}

ol.commentlist li{
	border:1px solid #eee;
	margin:10px 0 10px;
	padding:15px 10px 10px;
}

ol.commentlist li .even{
	background:#ffffff;
}

.commentlist li ul li {
	margin-left:10px;
	margin-right:-5px;
}

ol.commentlist li .reply {
	padding:0 0 5px 0;
}

#respond p{
	margin-bottom:10px;
	line-height: 20px;
}

/* PageNavi */

.more_entries {font-size:11px;}
.more_entries .wp-pagenavi {clear:both;float: right;}
.more_entries .wp-pagenavi a {text-decoration: none !important;}

.more_entries .wp-pagenavi .current,
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi a:hover {background: #9f9f9f !important;}

.more_entries .wp-pagenavi a,
.more_entries .wp-pagenavi a:link,
.more_entries .wp-pagenavi a:visited,
.more_entries .wp-pagenavi .current,
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi span.pages { background: #EEEEEE;color: #666; padding: 4px !important; margin-left: 4px; border:1px solid #DDDDDD; line-height:24px; }

.more_entries .wp-pagenavi .extend { background:none; border:none; }

/*========= SIDEBAR =========*/

/* Tabs */

#tabs {
	width:308px !important;
	height:auto !important;
	padding:5px;
	border:1px solid #ddd;
	background-color:#eeeeee;
	float:left;
	display: block;
	margin-bottom:15px;
}

.inside {
	width: 293px !important;
	padding:5px !important;
	border:1px solid #ddd !important;
	margin:5px 0px 0px !important;
	background-color: #FFFFFF;

}

ul.wooTabs {
	width: 100%;
	padding: 0 0 7px 0;
}

ul.wooTabs li {
	float: left;
	display:inline;
	font-size: 11px;
	line-height: 34px;
	background: #ffffff;
	color: #000000;
	border:1px solid #ddd;
	font-weight: bold;
	font-size: 11px;
	margin:0px 2px 0px 0px !important;
	cursor: pointer;
}

ul.wooTabs li a {
	line-height: 31px;
	color: #000000 !important;
	display: block;
	float: left;
	padding: 0 6px;
}

ul.wooTabs li a.selected, ul.wooTabs li a:hover {
	text-decoration:none;
	color: #ffffff !important;
}

/* WooDojo Tabs */
body .tabbable .nav li {border: none;} 
body .tabbable .tab-pane .comments a {background: none; margin: 0;}

#tagcloud {
	padding:10px;
}



#sub img {
	float: right;
	margin: 0 0 8px 8px;
}

.inside li {
	border-bottom:1px solid #EEEEEE;
	padding:8px;
}

.inside li img.avatar, .inside li img.thumbnail {
	border: 1px solid #ddd;
	padding: 3px;
	background-color: #ffffff;
	float: left;
	margin: 0 8px 0 0;
}

/*- Ads -*/

#mpu_banner, .adspace-widget {
	background-color:#FFFFFF;
	margin-bottom:15px;
	padding: 9px;
	border: 1px solid #FFFFFF;
}

#advert_125x125 {
	padding-left: 14px;
}

#advert_125x125 img{
	border: 1px solid #ddd;
	padding: 5px;
	margin:0 14px 14px 0;
}

/*- Flickr -*/

#flickr .wrap {
	padding-top: 15px;
}
.flickr_badge_image img {
	float:left;
}

/* Blog Author Widget */ 
.widget_woo_blogauthorinfo .avatar { 
padding: 5px; 
border: 1px solid #e6e6e6; 
background: #F8F8F8; 
background: rgba(255, 255, 255, 0.7); 
} 
.widget_woo_blogauthorinfo .left { 
float: left; 
margin: 0 10px 5px 0; 
} 
.widget_woo_blogauthorinfo .right { 
float: right; 
margin: 0 0 5px 10px; 
}

/*=== Styling Widget Lists ===*/

.widget {
	margin-bottom:15px;
	clear:both;
}
.widget h3 {
	padding: 5px;
	margin-bottom: 15px;
}
.widget ul {
	margin:0 0 15px 0;
	padding:0;
	border:none !important;
}
.widget ul li {
	border-bottom: 1px solid #eee;
	padding:5px 0 5px 5px;
	margin:0px;
}
.widget ul li a {
	color: #000000;
}
.widget select {
	border:1px solid #eee;
	width:148px;
}

/*========= FOOTER =========*/

#footer{
	clear: both;
	color: #666666;
	height: 35px;
	line-height: 35px;
	margin:0px 15px 15px;
	padding:0px 15px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
}

#footer img {
	vertical-align:middle;
	margin-left:5px;
}

/*========= MISC =========*/

.fix{
	clear: both;
	height: 1px;
	margin: 0 0 -1px;
	overflow: hidden;
}
.hl{
	border-bottom: 2px solid #eee;
}
.hl-full{
	float:left;
	clear:both;
	height:1px;
	width:100%;
	padding:0 !important;
	margin:0px 0px 15px;
}
.hl2{
	border-bottom: 3px solid #c0c0c0;
}
.hl3{
	border-bottom: 1px solid #eee;
}
.blog{
	width:100% !important;
	float:left;
}
.between{
	height:2px;
	margin-bottom:15px;
	}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ac{
	text-align: center;
}
.ar{
	text-align: right;
}
.th{
	border: 1px solid #dddddd;
	float: right;
	padding: 5px;
	background-color: #FFFFFF;
	margin: 0 0 5px 10px;
}

table#wp-calendar {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

table#wp-calendar a {
	color:#000000;
}

table#wp-calendar caption {
	font-weight: normal; font-size: 0.91667em; line-height: 1.72727em; text-transform: uppercase; letter-spacing: 2px; background: #e5e5e5; border-bottom: 1px dotted #ddd;
}
table#wp-calendar th {
	width: 26px; font-size: 0.91667em; line-height: 1.72727em; background: #f2f2f2; border-bottom: 1px dotted #ddd; text-align: center;
}
table#wp-calendar td {
	width: 26px; line-height: 1.66667em; color: #999; text-align: center;
}
table#wp-calendar td#next, table#wp-calendar td#prev {
	width: 78px; font-size: 0.83333em; letter-spacing: 1px; text-transform: uppercase;
}
.gravatar {
	float:left;
	border: 1px solid #000;
	margin-right: 10px;
}
.jdGallery a { cursor:pointer !important; }

/* Slider */
/*
#slider-holder { position: relative; height: 270px; width: 595px; margin-bottom: 20px; overflow: hidden ; color: #fff;background: #000;}
#slider-holder .slide{ position: absolute; top:0px; left: 595px; z-index: 1;height: 270px; width: 595px; overflow: hidden; background: #000;}
#slider-holder .slide-1 { display : block; left:0px; top:0px;}
#slider-holder .slide a {display: block;  }
#slider-holder .slide img {  display: block; position: absolute; top:0px; left: 0px; }
#slider-holder  img.full-mask {  position: absolute; top:0; left: 0px; z-index: 0; display: none; }

#slider-holder .slide-content { position: absolute; top: 270px; left: 0;height: 700px; width: 575px; background: #000; padding: 10px 10px 0 10px;z-index: 999;}

#slider-holder .slider-left, #slider-holder .slider-right {position: absolute;    cursor: pointer; height: 150px; width: 120px; z-index: 999; display: block; color: white; }

#slider-holder .slider-left { left: 0;  top: 0; background: url('images/fleche1.png') no-repeat center bottom;   }
* html #slider-holder .slider-left { background: url('images/fleche1.gif') no-repeat center left; }

#slider-holder .slider-right{right: 0; top: 0; background: url('images/fleche2.png') no-repeat center bottom;}
* html #slider-holder .slider-right { background: url('images/fleche2.gif') no-repeat center right; }

.slider-shelf { z-index: 999; background: #000; position: absolute; top:0; width: 595px; overflow: visible;}
span.clicker { z-index: 999; background: #000; position: absolute; top:0px; right:120px; width: auto; font-size: 11px; display: block; padding: 2px 10px; cursor: pointer;}
.shelf-content { z-index: 9999; position: absolute; top:0; width: 595px;}
.shelf-content img {border:1px solid #fff; margin: 10px 0 0 10px; cursor: pointer;}

.shelf-title {padding: 0px 10px;}

*/
.full {
width:930px;
}

/*========= GRAVITY FORMS =========*/

.gfield { margin-bottom: 10px; }
.gform_wrapper .top_label .gfield_label { display:block; padding-right:20px; width: 80px; margin: 5px 0px 4px !important; }
.gform_wrapper input.button { padding: 5px 10px 6px !important; }
.gform_wrapper input { padding: 5px 3px !important; }
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea { width: 400px !important; padding: 7px 3px !important; }
.gform_wrapper .entry img, .gform_wrapper img.thumbnail { padding: 0px !important; border: 0px !important; }
ul.top_label .clear-multi { clear: none !important; }
.gform_wrapper .gfield_checkbox, .gform_wrapper .gfield_radio { margin-left: 120px !important; }
img.ui-datepicker-trigger { border: 0px; padding: 0px; }
.gform_wrapper input, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea { border: 1px solid #E5E5E5; }
.entry .gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li { list-style: none !important; }

/* Text title */
#logo  { float:left; height: auto; width: auto; }
#logo img  { }
#logo .site-title, #logo .site-description  { font-family:"Helvetica Neue", Helvetica, Arial, serif; color: #000; display:none; line-height:100px; }
#logo .site-title a { color:#222; font-size:36px; text-transform:uppercase; font-weight:bold; text-decoration:none; }
#logo .site-title a:hover { text-decoration:underline; }
#logo .site-description { display: none !important; }